{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="{% static "css/index.css" %}" />
    <title>Document</title>
  </head>

  <body>
    <div class="app">
      <header class="header">
        <div class="tabs" id="tabs-menu-tab">
          <button class="tab-item" aria-selected="true">{% trans "Exchange" %}</button>
          <button class="tab-item" aria-selected="false">Web3</button>
        </div>

        <div class="scrollable-tabs" id="scrollable-tabs">
          <button class="tab-item" aria-selected="true">{% trans "Overview" %}</button>
          <button class="tab-item" aria-selected="false">{% trans "Spot" %}</button>
          <button class="tab-item" aria-selected="false">{% trans "Funding" %}</button>
          <button class="tab-item" aria-selected="false">{% trans "Earn" %}</button>
          <button class="tab-item" aria-selected="false">{% trans "Futures" %}</button>
          <button class="tab-item" aria-selected="false">{% trans "Margin" %}</button>
          <button class="tab-item" aria-selected="false">{% trans "Copy Trading" %}</button>
          <button class="tab-item" aria-selected="false">{% trans "Options" %}</button>
          <!-- <button class="tab-item" aria-selected="false">Swap</button> -->
        </div>
      </header>
      <main class="main">
        <div class="coins-tab" id="coins-tab">
          <button style="padding: 0.5rem;" class="tab-item" aria-selected="true">{% trans "USDⓈ-M" %}</button>
          <button style="padding: 0.5rem;" class="tab-item" aria-selected="false">{% trans "COIN-M" %}</button>
        </div>
        <div class="title-wrapper">
          <div class="flex-row">
            <h1 style="color:#e6eef1;" class="title dotted">{% trans "Margin Balance" %}</h1>
            <svg
              class="icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"
              ></path>
              <circle cx="12" cy="12" r="3"></circle>
            </svg>
          </div>
          <div class="flex-row icons">
            <img class="icon-image" src="{% static "images/1.png" %}" alt="" srcset="" />
            <!-- <svg class="icon" style="color: #fff; width: 1.25rem; height: 1.25rem" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M21 7.5v3H2.5l7-7v4H21zM3 16.5v-3h18.5l-7 7v-4H3z" fill="currentColor"></path></svg> -->
            <img class="icon-image" src="{% static "images/2.png" %}" alt="" srcset="" />
            <img class="icon-image" src="{% static "images/3.png" %}" alt="" srcset="" />
          </div>
        </div>
        <div class="balance-wrapper">
          <div class="current-balance-wrapper">
            <div class="current-balance">{{margin_balance}}</div>
            <div class="currency-select-container">
              <select class="currency-select">
                <option value="USD">USDT</option>
                <option value="Matrix">Matrix</option>
                <option value="XPDT">XPDT</option>
              </select>
              <svg class="dropdown-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M16.5 8.49v2.25L12 15.51l-4.5-4.77V8.49h9z" fill="currentColor"></path></svg>            
            </div>
          </div>
          <p class="approximate-balance">≈<span style="margin: 2px;"></span>${{margin_balance}}</p>
          <div class="pnl">
            <span class="pnl-label">{% trans "Today's Realized PnL" %}</span>
            <span class="pnl-value">+$0.87 (+0.11%)</span>
            <svg
              class="icon arrow-icon"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="m12 5 7 7-7 7"></path>
            </svg>
          </div>
          <div class="wallets">
            <div class="wallet">
              <h2 class="wallet-name">{% trans "Wallet Balance" %} (USDT)</h2>
              <p class="wallet-balance">{{wallet_balance}}</p>
              <p class="wallet-balance-approx">≈<span style="margin: 2px;"></span>${{wallet_balance}}</p>
            </div>
            <div class="wallet">
              <h2 style="color: #878e98;" class="wallet-name dotted">{% trans "Unrealized PNL" %} (USDT)</h2>
              <p class="wallet-balance">{{unrealized_pnl}}</p>
              <p class="wallet-balance-approx">≈<span style="margin: 2px;"></span>${{unrealized_pnl}}</p>
            </div>
          </div>
          <div class="buttons">
            <button class="button active-btn">{% trans "Trade" %}</button>
            <button class="button">{% trans "Swap" %}</button>
            <button class="button">{% trans "Transfer" %}</button>
          </div>
        </div>
        <div class="toggle-container">
          <div class="toggle-label">{% trans "Use BNB for fees (10% discount)" %}</div>
          <div class="toggle-switch">
            <input type="checkbox" id="toggle" />
            <div class="toggle-slider"></div>
          </div>
        </div>
        <div class="unknown-tabs" id="unknown-tabs">
          <button class="tab-item tab-position" aria-selected="true">{% trans "Positions" %}</button>
          <button class="tab-item" aria-selected="false">{% trans "Assets" %}</button>
        </div>
        <div class="binance-cards">
          {% for position in positions %}
              <div class="binance-card">
                  <div class="binance-card-header">
                    {% if position.position_type == "long" %}
                      <img class="icon-image" 
                          src="{% static 'images/' %}{% if lang == 'zh' %}chinese_b.png{% else %}B.png{% endif %}" 
                          alt="" />
                    {% else %}
                      <img class="icon-image" 
                          src="{% static 'images/' %}{% if lang == 'zh' %}chinese_s.png{% else %}S.png{% endif %}" 
                          alt="" />
                    {% endif %}
                      <span class="pair">{{ position.symbol }}</span>
                      <span class="type">{% trans "Perp" %}</span>
                      <span class="leverage">{% trans "Cross" %} {{ position.leverage }}x</span>  <!-- Dynamically display leverage -->
                      <img class="icon-image" src="{% static 'images/exclamation_mark.png' %}" alt="" />
                      <img src="{% static 'images/share.png' %}" class="icon share-icon" alt="" srcset="">
                  </div>
                  <div class="binance-card-content">
                    <div class="grid-2">
                      <div class="cell-item">
                          <span style="color: #878e98;" class="label">{% trans "Unrealized PNL" %}(USDT)</span>
                          <span class="value {% if position.unrealized_pnl > 0 %}green{% else %}red{% endif %}">
                              {{ position.unrealized_pnl }}
                          </span>
                      </div>
                      <div class="cell-item">
                          <span class="label">{% trans "ROI" %}</span>
                          <span class="value {% if position.roi > 0 %}green{% else %}red{% endif %}">
                              {{ position.roi }}%
                          </span>
                      </div>
                  </div>
                      <div class="grid-3">
                          <div class="cell-item">
                              <span class="label dotted">{% trans "Size" %} (USDT)</span>
                              <span class="value">{{ position.size }}</span>
                          </div>
                          <div class="cell-item">
                              <span class="label">{% trans "Margin" %} (USDT)</span>
                              <span class="value">{{ position.margin }}</span>
                          </div>
                          <div class="cell-item">
                              <span class="label dotted">{% trans "Margin Ratio" %}</span>
                              <span class="value green">{{ position.margin_ratio }}%</span>
                          </div>
                          <div class="cell-item">
                              <span class="label">{% trans "Entry Price" %} (USDT)</span>
                              <span class="value">{{ position.entry_price }}</span>
                          </div>
                          <div class="cell-item">
                              <span class="label">{% trans "Mark Price" %} (USDT)</span>
                              <span class="value">{{ position.mark_price }}</span>
                          </div>
                          <div class="cell-item">
                              <span class="label">{% trans "Liq. Price" %} (USDT)</span>
                              <span class="value">{{ position.liq_price }}</span>
                          </div>
                      </div>
                  </div>
              </div>
          {% endfor %}
      </div>
      
      </main>
      <footer class="footer">
        <div class="footer-content" id="footer-menu-tab">
          <button class="tab-item" aria-selected="true">
            <img src="{% static 'images/home.png' %}" class="footer-icon home-icon" alt="" srcset="">
            <span>{% trans "Home" %}</span>
          </button>
          <button class="tab-item" aria-selected="false">
            <img src="{% static 'images/Markets.png' %}" class="footer-icon icon-market" alt="" srcset="">
            <span>{% trans "Market" %}</span>
          </button>
          <button class="tab-item" aria-selected="false">
            <img src="{% static 'images/Trade.png' %}" class="footer-icon home-icon" alt="" srcset="">
            <span>{% trans "Trade" %}</span>
          </button>
          <button class="tab-item" aria-selected="false">
            <img src="{% static 'images/Futures.png' %}" class="footer-icon home-icon" alt="" srcset="">
            <span>{% trans "Futures" %}</span>
          </button>
          <button class="tab-item" aria-selected="false">
            <svg class="icon icon-market" id="eAdbGmfuBgs1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" project-id="5b1d1232496c403ea93c9df6a7f4d520" export-id="8fb32e60cdc441ef9c0c6a172731e174" cached="false"><path class="svg-path" d="M34,84.6v-64c12.429262.261788,23.934173-2.113776,28.090921,3.740042C66.908458,31.124428,65.983007,40.555246,65.983007,52.6c0,10.337479.437942,23.655296-1.971175,27.003553C59.017461,86.544867,47.810755,83.844921,34,84.6Z" transform="matrix(-.709704 0 0 0.340428 47.4852-5.906513)" /><rect width="13.170704" height="2.787959" rx="0" ry="0" transform="matrix(1.010073 0 0 1.540108 6.842401 4.689114)" fill="#1f2630" stroke-width="0"/><rect width="2.4" height="2.4" rx="0" ry="0" transform="matrix(2.148998 0 0 2.06027 13.494087 13.452359)" fill="#1f2630" stroke-width="0"/></svg>
            <span>{% trans "Wallet" %}</span>
          </button>
        </div>
      </footer>
    </div>
  </body>

  <script>
    function toggleImage(button) {
      const img = button.querySelector(".change-img");

      // Toggle between two image sources
      const activeSrc = "./images/wallet2.png";
      const defaultSrc = "./images/wallet.png";
      
      const isSelected = button.getAttribute("aria-selected") === "true";

      // Toggle aria-selected and image source
      button.setAttribute("aria-selected", isSelected ? "false" : "true");
      img.src = isSelected ? defaultSrc : activeSrc;
    }
    
    const buttons = document.querySelectorAll('.buttons .button');

    buttons.forEach((button) => {
        button.addEventListener('click', () => {
            // Remove 'active' class from all buttons
            buttons.forEach((btn) => btn.classList.remove('active'));
            // Add 'active' class to the clicked button
            button.classList.add('active');
        });
    });

    class ClickAndDragScrollX {
      constructor(el) {
        this.el = el;
        this.scrollLeft = 0;
        this.isDown = false;
        this.startX = 0;
        this.el.addEventListener('mousedown', this.onMouseDown.bind(this));
        this.el.addEventListener('mouseleave', this.onMouseUp.bind(this));
        this.el.addEventListener('mouseup', this.onMouseUp.bind(this));
        this.el.addEventListener('mousemove', this.onMouseMove.bind(this));
      }

      onMouseDown(e) {
        this.isDown = true;
        this.startX = e.pageX - this.el.offsetLeft;
        this.scrollLeft = this.el.scrollLeft;
      }

      onMouseUp() {
        this.isDown = false;
      }

      onMouseMove(e) {
        if (!this.isDown) return;
        e.preventDefault();
        const x = e.pageX - this.el.offsetLeft;
        const walk = (x - this.startX) * 2; //scroll-fast
        this.el.scrollLeft = this.scrollLeft - walk;
      }
    }

    class Tabs {
      constructor(parentElement) {
        this.parentElement = parentElement;
        this.tabs = Array.from(this.parentElement.children);

        this.tabs.forEach((tab) => {
          tab.addEventListener('click', this.onTabClick.bind(this));
        });
      }

      onTabClick(e) {
        const currentIndex = this.tabs.indexOf(e.currentTarget);
        const clickedTab = this.tabs[currentIndex];
        this.tabs.forEach((tab, index) => {
          tab.setAttribute('aria-selected', index === currentIndex);
        });
        clickedTab.setAttribute('aria-selected', 'true');
        this.parentElement.scrollLeft = 0;
      }
    }

    new ClickAndDragScrollX(document.querySelector('.scrollable-tabs'));
    new Tabs(document.getElementById('tabs-menu-tab'));
    new Tabs(document.getElementById('scrollable-tabs'));
    new Tabs(document.getElementById('coins-tab'));
    new Tabs(document.getElementById('footer-menu-tab'));
    new Tabs(document.getElementById('unknown-tabs'));
  </script>
</html>
